<form decorator='formValidator'>
  <legend>Form title</legend>

  <div class="form-group">
    <label for="inputTextfield">TextField</label>
    <input type="text" name="textfield" id="inputTextfield" class="form-control" required="required" title="" placeholder="TextField" min="5" >
  </div>

  <div class="form-group">
    <label for="inputtelField">telField</label>
    <input type="tel" name="telField" id="inputtelField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
    <label for="inputurlField">urlField</label>
    <input type="url" name="urlField" id="inputurlField" class="form-control" value="" required="required" title="">
  </div>

<!--
  <div class="form-group">
    <label for="inputDateField">dateField</label>
    <input type="date" name="dateField" id="inputDateField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
    <label for="inputTimeField">timeField</label>
    <input type="time" name="timeField" id="inputTimeField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
    <label for="inputWeekField">weekField</label>
    <input type="week" name="weekField" id="inputWeekField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
    <label for="inputEmailField">emailField</label>
    <input type="email" name="emailField" id="inputEmailField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
    <label for="inputMonthField">monthField</label>
    <input type="month" name="monthField" id="inputMonthField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
  <label for="inputRadioField">radioField</label>
    <div class="radio">
      <label for="inputRadioField">
        <input type="radio" name="radioField" id="inputRadioField" class="form-control" value="" checked="checked">
        Radio Box
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="inputRangeFieldR">green
    <input type="range" name="rangeField" id="inputRangeFieldR" class="form-control" value="{{green}}" min="{0}" max="{256}" step="1" required="required" title="">
    </label>
    <label for="inputRangeFieldG">red
    <input type="range" name="rangeField" id="inputRangeFieldG" class="form-control" value="{{red}}" min="{0}" max="{256}" step="1" required="required" title="">
    </label>
    <label for="inputRangeFieldB">blue
    <input type="range" name="rangeField" id="inputRangeFieldB" class="form-control" value="{{blue}}" min="{0}" max="{256}" step="1" required="required" title="">
    </label>
    <div style="background-color:rgb({{red}},{{blue}},{{green}}); height: 20px;"></div>
  </div>

  <div class="form-group">
    <label for="inputColorField">colorField
    <input type="color" name="colorField" id="inputColorField" class="form-control" value="" required="required" title="">
    </label>
  </div>

  <div class="form-group">
    <label for="inputNumberField">numberField</label>
    <input type="number" name="numberField" id="inputNumberField" class="form-control" value="" min="{5}" max="" step="" required="required" title="">
  </div>
  <div class="form-group">
    <label for="inputSearchField">searchField</label>
    <input type="search" name="searchField" id="inputSearchField" class="form-control" value="" required="required" title="">
  </div>

  <div class="form-group">
    <select name="selectField" id="inputSelectField" class="form-control">
      <option value="">-- Select One --</option>
      <option value="">choice1</option>
      <option value="">choice2</option>
      <option value="">choice3</option>
    </select>
  </div>

  <div class="form-group">
      <label for='inputCheckbox'>
        CheckMe
        <input type="checkbox" id="inputCheckbox" class="form-control" value="checkValue">
      </label>

  </div>

  <div class="form-group">
    <label for="pwdField">pwdField</label>
    <input type="password" name="pwdField" id="inputPwdField" class="form-control" required="required" title="">
  </div> -->

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
